site_name: Tech Insights
site_url: https://blog.alexis-carbillet.com/

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.indexes
    - blog.categories
    - blog.archive

plugins:
  - search
  - blog:
      blog_dir: blog
      post_dir: posts
      # FIX: This points exactly to where your author file is
      authors_file: blog/.authors.yml 
      post_excerpt: optional
      pagination_per_page: 5

nav:
  - Home: index.md
  - Blog: blog/index.md