site_name: Tech Insights
site_url: https://blog.alexis-carbillet.com/
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - content.code.copy
    - blog
    - navigation.indexes

plugins:
  - search
  - minify:
      minify_html: true
  - blog:
      post_dir: docs/posts
      blog_dir: blog
      pagination_per_page: 5

nav:
  - Home: index.md
  - Blog: blog/