site_name: Tech Insights
site_url: https://blog.alexis-carbillet.com/

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - blog.categories
    - blog.archive

plugins:
  - search
  - minify:
      minify_html: true
  - blog:
      blog_dir: .
      post_dir: posts
      post_excerpt: optional  # This activates the logic
      pagination_per_page: 5

nav:
  - Home: index.md
  - Blog: blog/index.md